aioredis
aioredlock
aiosqlite
apscheduler
ChatTTS @ git+https://github.com/Dicklesworthstone/ChatTTS
faiss-cpu
fast_vector_similarity
fastapi
faster-whisper
filelock
httpx
llama-cpp-python
magika
mutagen
nvgpu
openai
pandas
pillow
psutil
pydantic
PyPDF2
pydub
pytest
python-decouple
python-multipart
pytz
redis
ruff
scipy
scikit-learn
sqlalchemy
textract-py3
uvicorn
uvloop
zstandard