fastapi
pydantic
uvicorn
sqlalchemy
python-decouple
psutil
aiosqlite
faiss-cpu
pandas
PyPDF2
python-multipart
python-magic
langchain
llama-cpp-python
httpx
filelock
fast_vector_similarity
faster-whisper
textract
pytest
pytz
