fastapi
pydantic
uvicorn
sqlalchemy
python-decouple
psutil
aiosqlite
faiss-cpu
pandas
PyPDF2
python-multipart
python-magic
langchain
langchain-community
llama-cpp-python
httpx
filelock
fast_vector_similarity
faster-whisper
textract-py3
pytest
pytz
uvloop
aioredis
aioredlock
